{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container my-my {% if grand_total %} info-box-more {% else %}  {% endif %}">
        <div class="row">
            <div class="col card mb-4  mt-3 left info-box">
                <div class="card-body ">
                    <h2>Update Contact Information</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row my-bag-bg">
        <div class="col ">
          <div class="col-12 col-md-6 card mb-4  mt-3 info-box ml-4">
                <form method="POST" action="{% url 'edit_contact' member.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'about_us' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Contct Information</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>

{% endblock %}

