{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container my-my {% if grand_total %} info-box-more {% else %}  {% endif %}">
        <div class="row">
            <div class="col card mb-4  mt-3 left info-box">
                <div class="card-body ">
                    <h1>Thank You!</h1>
                    <hr>
                    <p>Your order information</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 order-information">
            <div class="">
                <div class="row">
                    <div class="col">
                        <small class="text-dark h5">Order Info:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 ml-2 my-text-green font-weight-bold">Order Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.order_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Order Date</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.date }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <small class="text-dark h5">Order Details:</small>
                    </div>
                </div>
                {% for box in order.lineitems.all %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class=" mb-0  ml-2 my-text-green font-weight-bold">
                            {{ box.box.name }}
                        </p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class=" ml-2 my-text-gray mb-0">{{ box.quantity }} X ${{ box.box.price }} each</p>
                    </div>
                </div>
                {% endfor %}
                <div class="row">
                    <div class="col">
                        <small class="text-dark h5">Delivering To:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Full Name</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.full_name }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Address 1</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% if order.street_address2 %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 text-black font-weight-bold">Address 2</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.street_address1 }}</p>
                    </div>
                </div>
                {% endif %}
                {% if order.county %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">County</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.county }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Town or City</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.town_or_city }}</p>
                    </div>
                </div>
                {% if order.postcode %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Postal Code</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.postcode }}</p>
                    </div>
                </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Country</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Phone Number</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.phone_number }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <small class="text-dark h5">Billing Info:</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Order Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.order_total }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Delivery</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0  ml-2 my-text-green font-weight-bold">Grand Total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-right">
                        <p class="mb-0  ml-2 my-text-gray">{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'boxes' %}?category=special%}" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}