html {
    height: 100%;
}

body {
    background: #cbd18f;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #E3B448;
    font-family: 'Lato';
    margin-top: 125px;
}

#my-base-header {
    background-color: #3a6b35;
}

#my-navbar {
    
    min-height: 60px;
    padding: 0 !important;
    
}

#my-base-header {
    color: #E3B448;
}

.navbar-toggler-icon {
    color:#E3B448;
}

.my-container {
    margin-top: 56px;
}

.my-my {
    margin-top: 100px;
}

.box-div {
    background-color: #3a6b35;
    margin: 11px;
}

.info-box {
    background-color: #3a6b35;
}

.info-box-more {
    padding-top: 50px;
}

a {
    color: #E3B448;
}
a:hover {
    color: #dea624;
}

.box-desc {
    color: #cbd18f;
}

.my-card {
    margin: 0 auto;
    margin-top: 120px;
}

/* taken from video (code institute STRIPE VIDEO) */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #cbd18f;
	z-index: -1;
}

.my-bag-bg {
    background-color:#cbd18f;
    color:#dea624;
}

.my-text-color {
    color:#dea624;
}

#my-shipping {
    color: gray;
    font-size: small;
}

.my-form {
    width: 26rem;
    margin: 0 auto;
}

.my-form-input {
    width: 5rem;
}

#bag-hr {
    color: #dea624;
    height: 2px;
}

.bag-item-quantity {
    
    margin: 3px;

}

.my-green-text {
    color: #3a6b35;
}

.my-allauth-content {
    width: 100%;
    margin: 0 auto;
}

.my-mt {
    margin-top: 200px;
}

.my-m-all {
    margin: 15px;
}

.about-title {
    color: black;
    font-size: large;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

#mc_embed_signup {
    background: #3a6b35;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: 600px;
    border-radius: 25px;
}

@media  screen and (max-width: 100px) {

    body {
        background: #cbd18f;
        background-size: cover;
        height: calc(100vh - 164px);
        color: #E3B448;
        font-family: 'Lato';
        margin-top: 130px;
    }
}

