{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="overlay"></div>
<div class="container my-card my-my {% if grand_total %} info-box-more {% else %}  {% endif %}">
  <div class="row">
    <div class="col card mb-4 left mt-3 info-box">
      <div class="card-body ">
        <h1> Change Password</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
<div class="row my-bag-bg ">
  <div class="col">
    <div class="col card mb-4  mt-3 left info-box">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}
