{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container my-my {% if grand_total %} info-box-more {% else %}  {% endif %}">
    <div class="row">
        <div class="col card mb-4  mt-3 left info-box">
            <div class="card-body ">
                <h2>MBoxes</h2>
                <p>Each boxes contains 1 week of dinner meals for one person (7meals) depending
                     on what protein fits your lifestyle 
                    you can pick and choose between all our categories.
                     Don't forget to check out our special boxes!</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
    <div class="container my-container">
        <div class="row">
            <div class="col">
                <div class="container-fluid " style="min-height: 680px">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                {% for box in boxes %}
                                <div class="card box-div" style="width: 18rem;">
                                   {% if box.image.url %}
                                        <img src="{{ box.image.url}}" class="card-img-top" alt="{{ box.name }}" style=" height: 14rem;">
                                
                                    {% endif %}
                                    <div class="card-body">
                                       <h3> <a href="{% url 'box_detail' box.id %}"> {{ box.name }} </a> </h3>
                                       {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_box' box.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_box' box.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        <hr>
                                        <p class="card-text box-desc">{{ box.description }}</p>
                                        <!-- number of comments font avsome icon-->
                                    </div>
                                  </div>
                                {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row">
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}